<!DOCTYPE html>
<html lang="en">
  <head>
    <title>App Name</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/glyph/227/Pacman-1-512.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">App Name</div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-sm-3" style="background-color:#4C9EA9;">
        {% include 'input_example.html' %}
      </div>
      <div class="col-sm-9">
        <ul class="nav nav-pills">
          <li class="active"><a data-toggle="pill" href="#tab0">Tab 0</a></li>
          <li><a data-toggle="pill" href="#tab1">Tab 1</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab0" class="tab-pane fade in active">
            {% include 'dataframe.html' %}
          </div>
          <div id="tab1" class="tab-pane fade">
            <h3>{{ plot_title }}</h3>
            {{ plot | safe }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
