{% extends "base.html" %}

{% block content %}
<form class="remove-empty-values" enctype="multipart/form-data" action="/car/profile-fit/results">

  <h3>Personal Details</h3>
  <div class="form-group">
    <input type="number" name="first_name" id="first_name" class="form-control" placeholder="First Name"/>
  </div>
  <div class="form-group">
    <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name"/>
  </div>
  <div class="form-group">
    <label for="venue">Date of Birth</label>
    <input type="date" name="date_of_birth" id="date_of_birth" value="1956-05-29" class="form-control" required/>
  </div>
  <div class="form-group">
    <input type="text" name="license" id="license" class="form-control" placeholder="License Plate" value="20PXR8" required/>
  </div>
  <div class="form-group">
    <input type="number" name="house_number" id="house_number" class="form-control" placeholder="House Number" value=1 required/>
  </div>
  <div class="form-group">
    <input type="text" name="zipcode" id="zipcode" class="form-control" placeholder="Postal Code" value="5721CC" required/>
  </div>


  <h3>Specifications</h3>
  <div class="form-group">
    <input type="number" name="own_risk" id="own_risk" class="form-control" placeholder="Own Risk" value=250 required/>
  </div>
  <div class="form-group">
    <input type="number" name="claim_free_years" id="claim_free_years" class="form-control" placeholder="Claim Free Years" value=13 required/>
  </div>


  <h3>Extra Coverages</h3>
  <div class="checkbox">
    <label><input type="checkbox" name="cover_occupants" id="cover_occupants" />Cover Occupants</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="legal_aid" id="legal_aid" />Legal Aid</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="road_assistance" id="road_assistance" />Road Asistance</label>
  </div>

  <br></br>

  <button type="submit" class="btn btn-primary">Predict</button>

</form>
{% endblock %}
